.create-task-container {
  flex: 1;
  background-color: #131213;
  max-width: 480px;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 40px;
}

.heading {
  font-family: 'Roboto';
  font-size: 44px;
  color: #f3aa4e;
  font-weight: bold;
  text-align: center;
}

.label-text {
  font-family: 'Roboto';
  font-size: 18px;
  color: #f1f5f9;
  margin-top: 40px;
  margin-bottom: 4px;
}

.task-input-container {
  display: flex;
  flex-direction: column;
}

.task-input-element {
  margin-top: 8px;
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
}

.select-tag-container {
  margin-top: 8px;
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-size: 16px;
}

.add-task-btn {
  padding: 10px 14px;
  background-color: #f3aa4e;
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 40%;
  align-self: center;
  margin-top: 30px;
}
