.tags-header-container {
  padding-top: 40px;
  padding-left: 12px;
  width: 65%;
  flex: 1;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.tags-heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: #f1f5f9;
}

.tags-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.tag-button {
  padding: 10px 16px;
  border-radius: 20px;
  color: #f8f8f8;
  font-size: 16px;
  font-family: 'Roboto';
  border: 2px solid;
  border-color: white rgb(250, 181, 5);
  background-color: transparent;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.tag-button:hover {
  border-color: rgb(250, 181, 5) white;
  background-color: transparent;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.active-btn {
  padding: 10px 16px;
  border-radius: 20px;
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  border: 2px solid;
  border-color: #f3aa4e;
  cursor: pointer;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  height: 60%;
  padding: 10px;
}

.task-container {
  background-color: #1a171d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 12px;
}

.task-container:hover {
  transform: translateX(-10px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.task-head {
  color: #f8f8f8;
  font-family: 'Roboto';
  font-size: 16px;
}

.tasks-option-container {
  display: flex;
  align-items: center;
}

.task-tag-id {
  padding: 10px 16px;
  border-radius: 20px;
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  background-color: #f3aa4e;
}

.delete-btn {
  margin-left: 10px;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 22px;
  font-family: 'Roboto';
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(239, 45, 45);
  color: #ffffff;
}

.delete-btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.not-found {
  margin: auto;
  text-align: center;
  color: #f1f5f9;
  font-size: 22px;
  font-family: 'Roboto';
}
